<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Players</title>
</head>
<body>
<h2><p>My first HTML text</p></h2>
<form action="players" method="get">
  <label>
    <input type="text" name="f_name">
  </label>
  <button type="submit">OK</button>
</form>
<table>
  <tr>
    <th>Company</th>
    <th>Contact</th>
    <th>Country</th>
  </tr>
  <tr>
    <td>Alfreds Futterkiste</td>
    <td>Maria Anders</td>
    <td>Germany</td>
  </tr>
  <tr>
    <td>Centro comercial Moctezuma</td>
    <td>Francisco Chang</td>
    <td>Mexico</td>
  </tr>
</table>
</body>
</html>